@media (max-width:1500px) {
    .boxes{
        padding: 14px 20px;
        width: 212px;
        margin: 0px 10px;
        outline: none;
    }
    .para-content-about{
        font-size: 14px;
        text-align: center;
        line-height: 29px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.74);
    }
    .packages{
        width: 100%;
        height :auto;
        padding: 16px 0px;

    }
    footer{
        width: 100%;
        height: auto;
    }
}
@media (max-width:1130px){
    .heading-lg-home{
        font-size: 56px;
        line-height: 74px;
    }
}
@media (max-width:992px){
    .heading-lg-home{
        font-size: 52px;
        line-height: 80px;
    }
    .selection{
        width: 400px;
        height: 70vh;
        background-color: rgb(245, 240, 240);
        position: static;
        margin: 84px auto;
        padding: 0px 26px;
        box-shadow: 2px 2px 14px rgb(145, 142, 142);
    }
    .selection-container{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .boxes{
        padding: 14px 20px;
        width: 100%;
        margin: 13px 0px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.489);
    }
    .select-btn{
        margin: 10px 0px;
        text-align: center;
        width: 100%;
    }
    .about{
        width: 100%;
        height: 100vh;
        margin-bottom: 47px;
    }
    .para-about-details{
        max-width: 760px;
        margin: auto;
    }
    .img-about{
        width: 100%;
        height: 300px;
    }
    .heading-content{
        font-size: 34px;
        font-weight: 700;
        margin: 16px 0px;
    }
    .para-content-about{
        font-size: 14px;
        text-align: center;
        line-height: 26px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.74);
        max-width: 680px;
    }
    .service{
        height: auto;
        width: 100%;
    }
}